body{
    background: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

h3{
    background-color: lightblue;
}

.barraAr{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.barraAb{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.card-container{
    border-radius: 20px;
}